@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-none text-center w-fit sm:w-[150px] select-none text-black mx-auto hover:bg-[#a2a2a2] bg-[#dbdbdb] box_shadow whitespace-nowrap [&>*]:inline-flex;
    }

    .btn-secondary {
        @apply rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-black border-2 text-center w-fit sm:w-[150px] select-none text-white mx-auto hover:bg-[#535353] bg-[#333333];
    }

    .btn-delete {
        @apply rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-black border-2 text-center w-fit sm:w-[150px] select-none text-white mx-auto hover:bg-[#FF3333] bg-[#E31010];
    }

    .btn-standard {
        @apply rounded-lg px-[10px] py-1 sm:px-[12px] active:translate-x-[5px] text-base active:translate-y-[5px] select-none cursor-pointer text-center my-5 bg-[#dbdbdb] w-auto whitespace-nowrap;
    }

    .btn-submit {
        @apply !active:bg-[#C6C6C6] border-[#dbdbdb] border-2 text-black mx-auto hover:bg-gray-300 !bg-[#dbdbdb];
    }

    .btn-cancel {
        @apply !active:bg-[#4B4B4B] border-white border-2 text-white mx-auto hover:bg-gray-300 !bg-[#333333];
    }

    .btn-add {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-none text-center w-fit select-none text-white mx-auto hover:bg-[#a2a2a2] bg-[#888888] box_shadow whitespace-nowrap [&>*]:inline-flex [&>img]:ml-5;
    }

    .basic_formInput {
        @apply text-lg border-black border-[1px] rounded bg-[#f2e798];
    }
    /*An empty field for the error message to be revealed*/
    .ErrorDiv {
        @apply min-h-[25px] w-full grow relative;
    }
    /*Styling for the error message*/
    .ErrorMessageTW {
        @apply text-[#e0200d] text-[12px] text-center static top-[-20px] left-0 right-0 transition-[transform_opacity] ease-out;
    }

    .initialFormError {
        @apply opacity-0 translate-y-[-20px];
    }

    .FadeInFormError {
        @apply opacity-100 translate-y-[0px];
    }

    .FadeOutFormError {
        @apply opacity-0 translate-y-[20px];
    }

    .H1Style {
        @apply text-center text-2xl font-bold;
    }

    .FormStyle {
        @apply [&>div>label]:text-black [&>div>label]:uppercase [&>div>label]:font-bold [&>div>input]:rounded-lg [&>div]:w-full [&>div]:my-[10px] [&>div>input]:pl-0 [&>div>input]:bg-[rgba(0,0,0,0)] [&>div>input]:text-black [&>div>input]:border-white [&>div>input]:border-[1px] rounded-md [&>div>input]:placeholder:text-[#545454] text-2xl [&>div>input]:placeholder:text-base;
    }

    .CategoryPanel {
        @apply;
    }

    .buttonIcons {
        @apply w-[30px] h-[30px] m-auto;
    }
}

:root {
/*  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
/*  min-width: 320px;*/
  min-height: 100vh;
}

.box_shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.ErrorMessage {
    color: red;
    font-size: 12px;
    font-family: inherit;
    text-align: center;
    opacity: 0.0;
    position: static;
    top: -20px;
    left: 0;
    right: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in, transform 500ms ease-in !important;
}

.ErrorMessageFadeIn {
    opacity: 1.0;
    transform: translateY(0px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.ErrorMessageFadeOut {
    opacity: 0.0;
    transform: translateY(20px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.AccountMenuStyle {
    position: absolute;
    top: 40px;
    background-color: #f2e796;
/*    transform: translateX(-215px);*/
    margin: 5rem 10px;
}
    .AccountMenuStyle > div {
        white-space: nowrap;
        color: #000000; 
 
    }

.Tag {
    border-radius: 10px;
    background-color: #dbdbdb;
    color: #000;
    padding: 0 10px;
    white-space: nowrap;
    margin: 4px auto;
    min-width: fit-content;
    display: inline-flex;
    grid-template-columns: 90% 10%;
    cursor: pointer;
    justify-content: space-between;
    margin: 10px 5px;
}

    .Tag > div {
        margin: auto;
        display: block;
    }

.MiniDeleteButton {
    width: 15px;
    height: 15px;
    margin: auto 0 auto 5px;
    display: block;
    cursor: pointer;
}

.backgroundTransition {
    -webkit-transition: background-size 5s linear;
    transition: transform 5s linear;
}

.NormalPosition {
/*    background-size: 100%;
    transition: background-size 5s linear;*/
}

.ZoomIn {
/*    background-size: 200% 200%;
    transition: background-size 5s linear;*/
}

.NormalPosition::after {
    transform: scale(100%);
}

.ZoomIn::after {
    transform: scale(200%);
}


/*.HeaderStyle {
    width: 100%; 
    position: fixed;
    top: 0px; 
    left: 0px;
    right: 0px;
    background-color: #000000; 
    font-size: 20px; 
    z-index: 10;
    color: #ffffff; 
    display: none; 
}*/
.DesktopStyle {
    display: none;
    width: 100%; 
    min-height: 50px; 
}
    @media screen and (min-width: 640px) {

        .ErrorMessage {
            font-size: 15px;
        }
}

@media screen and (min-width: 768px) {
    .DesktopStyle {
        display: block;
    }
}