@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-none text-center w-fit sm:w-[150px] select-none text-black mx-auto hover:bg-[#a2a2a2] bg-[#dbdbdb] box_shadow;
    }

    .btn-secondary {
        @apply rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-black border-2 text-center w-fit sm:w-[150px] select-none text-white mx-auto hover:bg-[#535353] bg-[#333333];
    }

    .btn-delete {
        @apply rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-black border-2 text-center w-fit sm:w-[150px] select-none text-white mx-auto hover:bg-[#FF3333] bg-[#E31010];
    }
    /*An empty field for the error message to be revealed*/
    .ErrorDiv {
        @apply min-h-[25px] w-full grow relative;
    }
    /*Styling for the error message*/
    .ErrorMessageTW {
        @apply text-[#e0200d] text-[12px] text-center static top-[-20px] left-0 right-0 transition-[transform_opacity] ease-out;
    }

    .initialFormError {
        @apply opacity-0 translate-y-[-20px];
    }

    .FadeInFormError {
        @apply opacity-100 translate-y-[0px];
    }

    .FadeOutFormError {
        @apply opacity-0 translate-y-[20px];
    }
}

:root {
/*  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
/*  min-width: 320px;*/
  min-height: 100vh;
}

.box_shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.ErrorMessage {
    color: red;
    font-size: 12px;
    font-family: inherit;
    text-align: center;
    opacity: 0.0;
    position: static;
    top: -20px;
    left: 0;
    right: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in, transform 1s ease-in !important;
}

.ErrorMessageFadeIn {
    opacity: 1.0;
    transform: translateY(0px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.ErrorMessageFadeOut {
    opacity: 0.0;
    transform: translateY(20px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.AccountMenuStyle {
    position: absolute;
    top: 40px;
    background-color: #f2e796;
/*    transform: translateX(-215px);*/
    margin: 5rem 10px;
}
    .AccountMenuStyle > div {
        white-space: nowrap;
        color: #000000; 
 
    }

    @media screen and (min-width: 640px) {
        .ErrorMessage {
        font-size: 15px;
    }
}